/* .none,.none-2{
display: none;
}
.none{
  
   font-size: 15px;
   top: 30px;
    right: 35px;
    position: relative;

}
.none-2{
  font-size: 15px;
  top: 60px;
   right: 140px;
   position: relative;
} */
